#root {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formWrapper {
  background: var(--primary-clr);
  height: 80vh;
  width: 80vw;
  border-radius: 8px;
  /* overflow: auto; */
}

.formWrapper .formTitle {
  height: 5rem;
  display: flex;
  align-items: center;
  padding-left: 3rem;
}

.formWrapper .formTitle h1 {
  color: var(--text-clr-primary);
  font-family: var(--primary-font);
  text-shadow: var(--text-clr-primary-glow);
}

.formContentContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  height: 60vh;
  overflow-y: scroll;
}

.formContentContainer::-webkit-scrollbar {
  width: 0px;
}

.formContentContainer .generalInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  place-items: center;
}

.CashRegistrationIDContainer {
  color: white;
}


/* 300  */
@media only screen and (max-width: 735px) {
  .formContentContainer .generalInfo {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 650px) {

  input,
  select {
    width: 15rem;
    padding: 1rem 1rem;
    border-radius: 5px;
    outline: none;
    caret-color: var(--primary-clr);
    border: none;
  }
}

.formContentContainer .teamName span {
  display: block;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-family: var(--tertiary-font);
  color: var(--text-clr-primary);
}

.formContentContainer .upiQRContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-block: 2rem;
  text-align: center;
}

.formContentContainer .upiQRContainer img {
  width: 20rem;
}

.formContentContainer .upiQRContainer span {
  display: block;
  color: var(--text-clr-primary);
  font-family: var(--primary-font);
  margin-block: 2rem;
  font-size: 1rem;
  font-weight: 700;
}

.formContentContainer .submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContentContainer .submit input {
  background: var(--secondary-clr);
  color: var(--text-clr-primary);
  border: none;
  border-radius: 50px;
  font-size: 1.5rem;
  box-shadow: var(--text-clr-secondary-glow);
  transition: 0.3s ease;
}

.formContentContainer .submit input:hover {
  opacity: 0.8;
  cursor: pointer;
}

input,
select {
  width: 25rem;
  padding: 1rem 1rem;
  border-radius: 5px;
  outline: none;
  caret-color: var(--primary-clr);
  border: none;
}

select {
  width: 27rem;
}

label {
  display: block;
  color: var(--text-clr-primary);
  font-family: var(--tertiary-font);
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-weight: 700;
}


.upi-input-style {
	border: none;
	padding: 8px;
	padding-right: 52px;
	background-color: #3498db;
	color: #fff;
	cursor: pointer;
	border-radius: 5px;
	font-size: 1rem;
}

.upi-input-style::-webkit-file-upload-button {
	visibility: hidden;
	display: none;
}

.upi-input-style::before {
	content: "Choose a file";
	display: inline-block;
	background-color: #3498db;
	color: #fff;
	padding: 5px 10px;
	border: 1px solid #3498db;
	border-radius: 5px;
	cursor: pointer;
}

.upi-input-style:hover::before {
	background-color: #2672b9;
}

@media only screen and (max-width: 920px) {
	.formContentContainer .generalInfo {
		grid-template-columns: repeat(1, 1fr);
	}
	.method input,
	.payment input {
		width: 25rem;
	}
}

@media only screen and (min-width: 650px) {
	input,
	select {
		width: 25rem;
		padding: 1rem 1rem;
		border-radius: 5px;
		outline: none;
		caret-color: var(--primary-clr);
		border: none;
	}
	input[type="radio"] {
		width: 1rem;
		height: 1rem;
	}
	.method input,
	.payment input {
		width: 4rem;
	}
}
@media only screen and (max-width: 551px) {
	.formContentContainer input {
		width: 15rem;
	}
	.formTitle h1 {
		font-size: 1.5rem;
	}
	input[type="radio"] {
		width: 1rem;
		height: 1rem;
	}
	select {
		width: 17rem;
	}
	.submit input {
		width: 20rem;
	}
}
@media only screen and (max-width: 660px) {
	.method input,
	.payment input {
		width: 4rem;
	}
	input[type="radio"] {
		width: 1rem;
		height: 1rem;
	}
	.upiQRContainer {
		width: 90%;
	}
	.preference,
	.payment {
		padding-left: 31px;
		padding-right: 10px;
	}
	hr {
		width: 90%;
		margin: 2rem auto;
	}
}
@media only screen and (max-width: 378px) {
	input[type="radio"] {
		width: 1rem;
		height: 1rem;
	}
	.preference,
	.payment {
		padding-left: 45px;
		padding-right: 35px;
	}
	.formContentContainer .upiQRContainer img {
		width: 14rem;
	}
	hr {
		width: 75%;
		margin: 2rem auto;
	}
}
